# to use vim 7.3
# alias vim='/usr/bin/vim'
alias ls='ls --color=auto'
#alias ls='ls -G'
alias ll='ls -l'
alias lh='ls -lh'
alias l='ls -altrh'
alias grep='grep --color'
alias mkdate='mkdir $(date +%Y_%m_%d)'
# force 256 colors
alias tmux='tmux -2'
# reopen last file open with vim
alias v='vim -c "normal '\''0"'
alias dvtm='TERM=rxvt-256color ; dvtm -m ^q'

alias nvim='TERM=screen-256color ; nvim'

alias c='pygmentize'
alias ptpython='ptpython --vi'

alias treepy='tree -I *.pyc'

alias g='git'
complete -o bashdefault -o default -o nospace -F _git g

mkcd() {
    [[ -d "$1" ]] ||  mkdir -p "$1"
    cd "$1";
}
if [[ -f $HOME/opt/bin/screen  ]]; then
	alias screen='$HOME/opt/bin/screen'
fi
