alias ls='ls --color=auto'
#alias ls='ls -G'
alias ll='ls -l'
alias lh='ls -lh'
#alias l='ls -al'
alias l='ls -altrh'
alias grep='grep --color'
alias mkdate='mkdir $(date +%Y_%m_%d)'
# reopen last file open with vim
alias v='vim -c "normal '\''0"'
alias dvtm='TERM=rxvt-256color ; dvtm -m ^q'
mkcd() {
    [[ -d "$1" ]] ||  mkdir -p "$1"
    cd "$1";
}
if [[ -f $HOME/opt/bin/screen  ]]; then
	alias screen='$HOME/opt/bin/screen'
fi
# exports
export S=$HOME/src
export W=$S/blog/wiki
export VIMHOME=$HOME/.vim
export D=$S/dotfiles
export B=$D/.vim/bundle
export EDITOR=vim
if [[ $(uname) == "Darwin" ]]; then
	# ports
	PATH=/opt/local/libexec/gnubin:$PATH
    PATH=$PATH:/opt/local/bin:/opt/local/sbin
	alias gitk='/usr/bin/wish $(which gitk)'
	alias top='top -o cpu'
fi
[ -d $HOME/opt/src/homebrew/bin ] && PATH=$HOME/opt/src/homebrew/bin:$PATH
[ -d $HOME/opt/bin ] && PATH=$HOME/opt/bin:$PATH
# Load RVM function
[[ -s "$HOME/.rvm/scripts/rvm" ]] && . "$HOME/.rvm/scripts/rvm"
if [[ "$(uname)" =~ "CYGWIN" ]]; then
	export GIT_SSL_NO_VERIFY=true
fi
export PATH
