[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-pixelmuerto"]
	path = .vim/bundle/vim-pixelmuerto
	url = git@github.com:juanpabloaj/vim-pixelmuerto.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/snipmate-snippets"]
	path = .vim/bundle/snipmate-snippets
	url = git@github.com:juanpabloaj/snipmate-snippets.git
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = git@github.com:juanpabloaj/vim-snipmate.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "utils/git-prompt"]
	path = utils/git-prompt
	url = git@github.com:juanpabloaj/git-prompt.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-extradite"]
	path = .vim/bundle/vim-extradite
	url = git@github.com:juanpabloaj/vim-extradite.git
[submodule "utils/git-map"]
	path = utils/git-map
	url = https://github.com/icefox/git-map.git
[submodule "utils/oh-my-zsh"]
	path = utils/oh-my-zsh
	url = git@github.com:juanpabloaj/oh-my-zsh.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/showmarks"]
	path = .vim/bundle/showmarks
	url = git@github.com:juanpabloaj/ShowMarks.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/unite"]
	path = .vim/bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule ".vim/bundle/markup"]
	path = .vim/bundle/markup
	url = git@github.com:juanpabloaj/markup.vim.git
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/help"]
	path = .vim/bundle/help
	url = git@github.com:juanpabloaj/help.vim.git
[submodule "utils/git-remote-init"]
	path = utils/git-remote-init
	url = git@github.com:juanpabloaj/git-remote-init.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git@github.com:juanpabloaj/supertab.git
[submodule ".vim/bundle/bufferWidget"]
	path = .vim/bundle/bufferWidget
	url = git@github.com:juanpabloaj/bufferWidget.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/rainbow"]
	path = .vim/bundle/rainbow
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule ".vim/bundle/matchtag"]
	path = .vim/bundle/matchtag
	url = https://github.com/gregsexton/MatchTag.git
[submodule ".vim/bundle/less"]
	path = .vim/bundle/less
	url = git@github.com:juanpabloaj/vim-less.git
[submodule ".vim/bundle/vimproc"]
	path = .vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.git
[submodule ".vim/bundle/vimshell"]
	path = .vim/bundle/vimshell
	url = https://github.com/Shougo/vimshell.git
[submodule ".vim/bundle/vim-taglist-plus"]
	path = .vim/bundle/vim-taglist-plus
	url = git@github.com:juanpabloaj/vim-taglist-plus.git
[submodule ".vim/bundle/vim-stylus"]
	path = .vim/bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule ".vim/bundle/indent-object"]
	path = .vim/bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/repeat"]
	path = .vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/unite-ssh"]
	path = .vim/bundle/unite-ssh
	url = git://github.com/Shougo/unite-ssh.git
[submodule ".vim/bundle/vimfiler"]
	path = .vim/bundle/vimfiler
	url = git://github.com/Shougo/vimfiler.git
[submodule ".vim/bundle/coffee-script"]
	path = .vim/bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/jade"]
	path = .vim/bundle/jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule ".vim/bundle/javascript"]
	path = .vim/bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/dispatch"]
	path = .vim/bundle/dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/fish"]
	path = .vim/bundle/fish
	url = git@github.com:juanpabloaj/vim-fish.git
[submodule ".vim/bundle/coveragepy"]
	path = .vim/bundle/coveragepy
	url = git@github.com:alfredodeza/coveragepy.vim.git
