[user]
	name = JuanPablo
	email = jpabloaj@gmail.com

[diff]
    color = auto

[pager]
    color = true

[status]
    color = auto

[push]
	default = current

[alias]
	ba = branch -a
	br = branch
	cf = clean -fd
	ci = commit
	co = checkout
	d0 = diff -U0
	dc = diff --cached
	df = diff
	ds = diff --stat
	dt = difftool
	fe = fetch
	fo = fetch origin
	l = log --graph --pretty=format:'%Cgreen%h%Creset %C(blue)%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr, %ci)%Creset' --abbrev-commit --date=relative -n
	lg = log --pretty=format:'%Cgreen%h%Creset %C(blue)%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr, %ci)%Creset' --abbrev-commit --date=relative
	lo = log --graph --pretty=format:'%Cgreen%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative HEAD..origin/master
	ls = ls-files
	m = merge
	mo = merge origin
	mt = mergetool
	ra = remote add
	rh = reset --hard
	rhom = reset --hard origin/master
	ru = remote update
	rv = remote -v
	st = status
	suir = submodule update --init --recursive

[diff]
	tool = vimdiff

[merge]
	tool = vimdiff

[core]
	editor = vim
	excludesfile = ~/.gitexcludes

[difftool]
	prompt = false

[mergetool]
	prompt = false
