[user]
	name = JuanPablo
	email = jpabloaj@gmail.com

[diff]
    color = auto

[pager]
    color = true

[status]
    color = auto

[push]
	default = current

[alias]
	ba = branch -a
	br = branch
	bm = branch --merged
	bnm = branch --no-merged
	cf = clean -fd
    ; borrar los que menciona gitignore
	cx = clean -xf
	ci = commit
	cim = commit -m
	cia = commit -a
	ciam = commit -am
	co = checkout
	d0 = diff -U0
	dc = diff --cached
	dc0 = diff --cached -U0
	ds0 = diff --staged -U0
	df = diff
	ds = diff --stat
    dn = diff --name-only
	dt = difftool
	fa = fetch --all
	fe = fetch
	fo = fetch origin
	l = log --pretty=format:'%Cgreen%h%Creset %C(blue)%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr, %ci)%Creset' --abbrev-commit --date=relative -n
	lg = log --graph --pretty=format:'%Cgreen%h%Creset %C(blue)%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr, %ci)%Creset' --abbrev-commit --date=relative
	lo = log --graph --pretty=format:'%Cgreen%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative HEAD..origin/master
	ls = ls-files
	m = merge
	mo = merge origin
	mt = mergetool
	ra = remote add
	rh = reset --hard
	rhom = reset --hard origin/master
	ru = remote update
	rv = remote -v
	st = status -sb
	suir = submodule update --init --recursive
    sl = stash list
    sp = "!git stash && git pull origin && git stash pop"
    fno = diff-tree --no-commit-id --name-only -r HEAD

[diff]
	tool = vimdiff

[merge]
	tool = vimdiff

[core]
	editor = vim
	;excludesfile = ~/.gitignore
	excludesfile = ~/.gitexcludes

[difftool]
	prompt = false

[mergetool]
	prompt = false
[pull]
	rebase = false
