[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-pixelmuerto"]
	path = .vim/bundle/vim-pixelmuerto
	url = git@github.com:juanpabloaj/vim-pixelmuerto.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-extradite"]
	path = .vim/bundle/vim-extradite
	url = https://github.com/int3/vim-extradite.git
[submodule ".vim/bundle/vim-taglist"]
	path = .vim/bundle/vim-taglist
	url = https://github.com/vim-scripts/taglist.vim.git
	ignore = untracked
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/snipmate-snippets"]
	path = .vim/bundle/snipmate-snippets
	url = git@github.com:juanpabloaj/snipmate-snippets.git
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = git@github.com:juanpabloaj/vim-snipmate.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "utils/git-prompt"]
	path = utils/git-prompt
	url = git@github.com:juanpabloaj/git-prompt.git
