[user]
	name = JuanPablo
	email = jpabloaj@gmail.com

[diff]
    color = auto

[pager]
    color = true

[status]
    color = auto
[push]
	default = current
[alias]
	st = status
	ci = commit
	br = branch
	ba = branch -a
	co = checkout
	df = diff
	dc = diff --cached
	d0 = diff -U0
	dt = diff --stat
	ru = remote update
	mo = merge origin 
	fo = fetch origin
	lo = log --graph --pretty=format:'%Cgreen%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative HEAD..origin/master
	lg = log --graph --pretty=format:'%Cgreen%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative
	ls = ls-files
	rh = reset --hard
	cf = clean -fd
